body {background: #000000;  width:100%; background-image: url("background.jpg"); background-size:cover;}
h1{color: #ffffff;text-align: center;}
h2{color: #ffffff;text-align: center;}
canvas{margin: auto;}
.background-image{ background-image: url("background.jpg"); background-size:cover;}
body > div.section{ background-color: black; }